.about-pic {
    width: auto;
    height: 450px;
    align-self: flex-start;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  text-align: center;
  background: url('../../assets/about-me-background.jpg');
  background-repeat: repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.hero-section .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.hero-section h1 {
  font-size: 4rem;
  font-weight: bold;
}

.hero-section p {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p {
  text-align: start;
}

.about-text-bg {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.social-networks div:first-child {
  text-align: end;
}

.social-networks div:last-child {
  text-align: start;
}

.bi {
  font-size: 1.8rem;
  color: rgb(227, 227, 227);
  /* text-align: end; */
}

/* a .bi-github {
  text-align: start;
} */