.about-pic {
    width: auto;
    height: 450px;
    align-self: flex-start;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  text-align: center;
  background: url('../../assets/about-me-background.jpg');
  background-repeat: repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.hero-section .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.hero-section h1 {
  font-size: 4rem;
  font-weight: bold;
}

.hero-section p {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}