.container-full-height {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50rem;
    max-width: auto;
    
    background-color: rgba(32, 32, 32, 0.862);
    border-radius: 2%;
}

.login-container {
    width: auto;
    max-width: 700px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }

  .input-label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(243, 243, 243);
    font-size: 1.5rem;
  }

  .f-password {
    text-decoration: none;
  }

  .css-button-3d--blue {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #3d348b;
    box-shadow: 0 5px #2c0b8e;
  }
  .css-button-3d--blue:hover {
    box-shadow: 0 3px #2c0b8e;
    top: 1px;
  }
  .css-button-3d--blue:active {
    box-shadow: 0 0 #2c0b8e;
    top: 5px;
  }

  .css-button-shadow--grey {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: #6c757d;
    box-shadow: 0 3px 1px -2px #25252520, 0 2px 2px 0 #2121215a, 0 1px 5px 0 #3333335d;
  }
  .css-button-shadow--grey:active {
    box-shadow: 0 4px 2px -3px #2a2a2a4e, 0 4px 5px 1px #3a3a3a65, 0 2px 7px 1px #4a4a4a72;
  }